:root { 
--deep_orange_A100:#efa485; 
--deep_orange_A200:#e56135; 
--lime_500_01:#cddc36; 
--blue_gray_50:#ecedef; 
--blue_A700:#2f6ce5; 
--blue_gray_100_01:#d9d9db; 
--black_900_90:#00000090; 
--green_600:#27a365; 
--green_500:#46b746; 
--black_900_1e:#0000001e; 
--teal_100:#b8dfe3; 
--black_900_87:#00000087; 
--blue_gray_200_01:#a1c7d2; 
--green_A700:#02b875; 
--black_900:#000000; 
--teal_800:#008944; 
--blue_gray_700:#525252; 
--blue_gray_900:#2d2d2d; 
--gray_600:#808080; 
--blue_gray_50_01:#edeef0; 
--orange_A100:#f7d471; 
--gray_700:#5c5d5d; 
--gray_400:#bfbfc0; 
--blue_gray_200:#a9aeb8; 
--lime_500:#dae233; 
--gray_500:#979899; 
--blue_gray_100:#d8d9db; 
--blue_gray_400:#898989; 
--gray_800:#3d3d3d; 
--gray_200:#edeeef; 
--gray_300:#e0e0e0; 
--gray_100:#f2f2f2; 
--gray_100_02:#f6f7f9; 
--black_900_99:#00000099; 
--black_900_72:#00000072; 
--gray_400_01:#b7b7b7; 
--gray_100_01:#eefff4; 
--white_A700_01:#fffffe; 
--black_900_14:#00000014; 
--gray_700_02:#696a6b; 
--white_A700:#ffffff; 
--gray_700_01:#5b5b5b; 
}